$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$color-primary: #DC143C;
$color-bg: #222831;;
$color-white: #ffffff;
$color-body: #1e1e1e;
$color-rgba1: rgba(57, 62, 70, 0.75);
$color-text1: rgba(238, 238, 238, 0.75);

$transition: 0.3s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
