.footer {
    padding: 45px 20px;
    

    &__ul {
        display: flex;
        justify-content: center;
        gap: 75px;
        @include mobile {
            flex-direction: column;
            text-align: center;
        }
    }

   
}
